<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> d7757ccd1cd916b6d44cc740fa530776980509c8
.homeslider {
	background: transparent url(../images/slider-placeholder.png) center no-repeat;
	background-size: cover;
	float: left;
	min-height: 350px;
	width: 100%;
}

.site-content {
	margin: 0;
	padding: 0;
}

.section {
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
	.section-title {
		color: #fff;
		font-weight: 600;
		margin-bottom: 2rem;
		@include font(16, 700);
	}

	&.enquiry {
		background: $main_color;
		padding: 2rem 0;
	}

	&.home-blocks {
		background: transparentize($gray_color, 0.2);
		.block {
			float: left;
			min-height: 400px;
			overflow: hidden;
			padding: 2rem 2rem 0;
			position: relative;
			width: (100% / 3);
			@include below($small_breackpoint) {
				width: 100%;
			}
			.block-title {
				color: $main_color;
<<<<<<< HEAD
				margin: 1rem auto 1.6rem;
=======
				margin: 1rem auto 1.4rem;
>>>>>>> d7757ccd1cd916b6d44cc740fa530776980509c8
				@include font(14, 700);
			}

			.block-content {
				max-width: 350px;
				p {
					color: #fff;
					font-weight: 400;
					margin: 1.6rem 0;
					@include below(1140px) {
						margin: 0.8rem 0;
					}
					@include below(880px) {
						margin: 0.4rem 0;
					}
				}
			}

			&.indexes {
				background: rgba(#000, 0.1);
				.index-item {
					margin-bottom: 1.5rem;
					@include below(1140px) {
						margin-bottom: 1rem;
					}
					h3 {
						color: $main_color;
						margin: 0;
						@include font(14, 700);
					}
					p {
						font-weight: 400;
						margin: 0;
						@include between(880px, $small_breackpoint) {
							font-size: 10px;
						}
					}
				}
			}

			&.informative {
				background: rgba(#000, 0.05);
				.informative-item {
					p {
						@include font(12, 400);
					}
					.date, .text {
						display: inline-block;
						vertical-align: top;
					}
					.date {
						color: $main_color;
						font-weight: 700;
						width: 25%;
						@include between(880px, $small_breackpoint) {
							font-size: 10px;
						}
					}
					.text {
						color: #fff;
						padding: 0 0.5rem;
						width: 65%;
						@include below(960px) {
							width: 70%;
						}
						&:hover {
							color: #000;
						}
					}
				}
			}

			&.events {
				.today {
					color: $secondary_color;
<<<<<<< HEAD
					@include font(12, 700);
				}
				.event-item {
					p {
						margin: 0.8rem 0;
						@include below(1140px) {
							margin: 0.3rem 0;
						}
=======
					display: block;
					margin-bottom: 1rem;
					@include font(12, 700);
				}
				.event-item {
					border-top: 1px solid #fff;
					margin: 0 auto;
					max-width: 260px;
					&:last-child {
						border-bottom: 1px solid #fff;
					}
					p {
						margin: 0.3rem 0;
>>>>>>> d7757ccd1cd916b6d44cc740fa530776980509c8
					}
					.type, .code, .event {
						display: inline-block;
						padding: 0 1rem;
						@include below(880px) {
							padding: 0 0.3rem;
						}
					}
					.type {
						color: $main_color;
						@include font(12, 700);
						&:hover {
							color: #000;
						}
					}
				}
				.show-labels {
					bottom: 0;
					position: absolute;
					right: 0;
					@include font(12, 700);
				}
				.events-labels {
					background: rgba(#000, 0.9);
					display: table;
					height: 100%;
					position: absolute;
					right: 0;
					top: 0;
					width: 100%;
					@include soft-transition;
					.labels-items {
						display: table-cell;
						padding: 0 4rem;
						vertical-align: middle;
					}
					.labels-title {
						color: #fff;
						margin-bottom: 2rem;
						@include font(14, 700);
					}
					p {
						margin: 0;
					}
				}
			}

			.read-more {
				bottom: 0;
				margin-left: -50px;		
				position: absolute;
				left: 50%;			
			}
		}
	}
}
<<<<<<< HEAD
>>>>>>> parent of d7757cc... Submenu criado
=======
>>>>>>> d7757ccd1cd916b6d44cc740fa530776980509c8
