.site-footer {
	width: 100%;
	.copyright {
		color: $main_color;
		@include font(12,400);
	}
}

.footer-widgets {
	margin: 2rem auto;
	max-width: 930px;
	@include clearfix;
	.custom-menus {
		float: left;
		width: 75%;
		@include below(490px) {
			width: 100%;
		}
		.widget {
			padding: 0 0.5rem;
			width: 16%;
			@include below(860px) {
				float: right;
				width: 30%;
			}
			@include below(570px) {
				width: 50%;
			}
		}
	}
	.address {
		float: right;
		margin-top: 0.8rem;
		width: 25%;
		@include below(490px) {
			padding: 2rem;
			width: 100%;
		}
		p {
			color: $main_color;
			margin: 0;
			@include font(10, 700);
		}
		.tel {
			color: $secondary_color;
			@include font(14, 700);
		}
	}
}

.widget {
	display: inline-block;
	vertical-align: top;
	.widget-title {
		margin: 0.8rem 0;
		text-transform: uppercase;
		@include font(12, 700);
	}
	ul {
		@include font(10, 700);
	}
	a {
		display: block;
		padding: 2px 0;
	}
}
