/**
 * Vars 
 */
// typography
$main_font: 'Open Sans', sans-serif;
$heading_font: 'Open Sans', sans-serif;

$base_font_size: 16px;
$heading_size: 30;
$paragraph_size: 14;

// colors
$main_color: #004b88;
$secondary_color: #ed1c24;
$gray_color: #adafb2;
$heading_color: $main_color;
$paragraph_color: #595959;

// grid
$container_width: 1185px;
$grid_gutter: 10px;
$grid_columns: 12;


/**
 * Mixins
 */
@import "mixins";

/**
 * Defaults 
 */
*, *:before, *:after {
	box-sizing: border-box;
}
body {
    font-family: $main_font;
}
figure {
    margin: 0;
}
img {
    height: auto;
    max-width: 100%;
}
a {
	text-decoration: none;
	@include soft-transition;
	&:hover {
		color: #000;
	}
}
.site-header,
.site-content,
.site-footer {
    float: left;
    padding: 1em 0;
    width: 100%;
}

/**
 * Accessibility 
 */
@import "accessibility";

/**
 * Typography 
 */
@import "typography";

/**
 * Helpers 
 */
@import "helpers";

/**
 * Grid 
 */
@import "grid";

/** 
 * Site-header 
 */
@import "site-header";

/** 
 * Site-footer 
 */
@import "site-content";

/** 
 * Site-footer 
 */
@import "site-footer";

/**
 * Components
 */ 
@import "components/forms";
@import "components/buttons";
@import "components/media";
