/**
 * Vars 
 */
@import "vars";

/**
 * Mixins
 */
@import "mixins";

/**
 * Defaults 
 */
*, *:before, *:after {
	box-sizing: border-box;
}
body {
    font-family: $main_font;
}
figure {
    margin: 0;
}
img {
    height: auto;
    max-width: 100%;
}
a {
	text-decoration: none;
	@include soft-transition;
	&:hover {
		color: #000;
	}
}
.site-header,
.site-content,
.site-footer {
    float: left;
    padding: 1em 0;
    width: 100%;
}

/**
 * Accessibility 
 */
@import "accessibility";

/**
 * Typography 
 */
@import "typography";

/**
 * Helpers 
 */
@import "helpers";

/**
 * Grid 
 */
@import "grid";

/** 
 * Site-header 
 */
@import "site-header";

/** 
 * Site-footer 
 */
@import "site-content";

/** 
 * Site-footer 
 */
@import "site-footer";

/**
 * Components
 */ 
@import "components/forms";
@import "components/buttons";
@import "components/media";

// CSS debug
// * {
// 	border: 1px solid red !important;
// }
