/**
 * Vars 
 */
$main_font: 'Arial', sans-serif;
$heading_font: 'Georgia', serif;

$main_color: #9d270e;
$gray_color: #9d9b9a;

/**
 * Mixins
 */
@import "mixins";

/**
 * Defaults 
 */
*, *:before, *:after {
    box-sizing: border-box; 
}
body {
    font-family: $main_font;
}
figure {
    margin: 0;
}
img {
    height: auto;
    max-width: 100%;
}
.site-header,
.site-content,
.site-footer {
    float: left;
    padding: 1em 0;
    width: 100%;
}

/**
 * Accessibility 
 */
@import "accessibility";

/**
 * Typography 
 */
@import "typography";

/**
 * Helpers 
 */
@import "helpers";

/**
 * Grid 
 */
@import "grid";

/** 
 * Site-header 
 */
@import "site-header";

/** 
 * Site-footer 
 */
@import "site-content";

/** 
 * Site-footer 
 */
@import "site-footer";

/**
 * Components
 */ 
@import "components/forms";
@import "components/buttons";
@import "components/media";
