button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: transparent;
	border: 0;
	color: $main_color;
	cursor: pointer;
	display: block;
	font-weight: 700;
	line-height: 1;
	margin: 0 auto;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	@include font(14);
	
	&:hover,
	&:active,
	&:focus {
		color: #111;
	}
}

.read-more {
	background: $secondary_color;
	border-radius: 50% 50% 0 0;
	color: #fff;
	height: 80px;
	margin-bottom: -50px;
	padding-top: 10px;
	text-align: center;
	text-decoration: none;
	width: 100px;
	@include font(12, 700);
	@include soft-transition;
	&:hover {
		background: #000;
	}
}
