button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: transparent;
	border: 0;
	color: $main_color;
	cursor: pointer;
	display: block;
	font-weight: 700;
	line-height: 1;
	margin: 0 auto;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	@include font-size(14px);
	&:hover,
	&:active,
	&:focus {
		color: #111;
	}
}
